.moda-center-text {
    text-align: center !important;
}

.mud-button-filled {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 30%), 0 2px 2px 0 rgb(0 0 0 / 0), 0 1px 5px 0 rgb(0 0 0 / 10%) !important;
}

.mud-dialog {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 10%), 0 2px 2px 0 rgb(0 0 0 / 0), 0 10px 10px 0 rgb(0 0 0 / 5%) !important;
}

.mud-nav-link {
    white-space: normal !important;
    padding: 12px 16px 12px 38px;
}

    .mud-nav-link.active:not(.mud-nav-link-disabled) {
        border-left: 3px solid var(--mud-palette-primary);
        background-color: rgba(var(--mud-palette-primary-rgb), 0.1);
    }

.mud-table {
    padding: 20px !important;
    margin-bottom: 20px !important;
}

.mud-card {
    margin-bottom: 20px !important;
}

#blazor-error-ui {
    color: var(--mud-palette-drawer-text);
    background: var(--mud-palette-drawer-background);
}

.mud-overlay-dark {
    backdrop-filter: blur(2px);
}

.mud-card-header .mud-card-header-avatar {
    margin-inline-end: 10px !important;
}

.mud-nav-link {
    padding: 12px 16px 12px 15px !important;
}

.mud-dialog-content {
    max-height: 75vh !important;
    overflow: auto !important;
    overflow-x: hidden !important;
}

.mud-grid-spacing-xs-3 {
    margin: 0px !important;
    margin-left: -12px !important;
}

.mud-table-toolbar {
    flex-wrap: wrap;
    margin-bottom: 20px !important;
}

::-webkit-scrollbar {
    width: 2px !important;
    height: 6px !important;
}

.moda-nav-child {
    padding-left: 10px !important;
}

.mud-tabs-toolbar-content {
    background: var(--mud-palette-background);
}

.mud-tab {
    background: var(--mud-palette-background);
}

.mud-tabs-scroll-button {
    background: var(--mud-palette-background);
}

.mud-tabs-panels {
    background: var(--mud-palette-surface);
}

.default-node {
    border: 2px solid #6e9fd4;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    background: var(--mud-palette-primary);
    -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

    .default-node.selected {
        border: 1px solid #e8e8e8;
    }

        .default-node.selected .port {
            border: 1px solid #e8e8e8;
        }

    .default-node .port, .default.group .port {
        width: 10px;
        height: 10px;
        margin: -10px;
        border-radius: 50%;
        background-color: var(--mud-palette-primary);
        border: 1px solid #d4d4d4;
        cursor: pointer;
        position: absolute;
    }

        .default-node .port:hover, .default-node .port.has-links, .default.group .port.has-links {
            background-color: black;
        }

        .default-node .port.bottom, .default.group .port.bottom {
            bottom: 0px;
            left: 50%;
        }

        .default-node .port.bottomleft, .default.group .port.bottomleft {
            bottom: 0px;
            left: 0px;
        }

        .default-node .port.bottomright, .default.group .port.bottomright {
            bottom: 0px;
            right: 0px;
        }

        .default-node .port.top, .default.group .port.top {
            top: 0px;
            left: 50%;
        }

        .default-node .port.topleft, .default.group .port.topleft {
            top: 0px;
            left: 0px;
        }

        .default-node .port.topright, .default.group .port.topright {
            top: 0px;
            right: 0px;
        }

        .default-node .port.left, .default.group .port.left {
            left: 0px;
            top: 50%;
        }

        .default-node .port.right, .default.group .port.right {
            right: 0px;
            top: 50%;
        }